{
	"env": {
		"browser": true,
		"es6": true,
		"jest": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "mongodb-js/compass-plugin"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"allowImportExportEverywhere": true,
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"dot-notation": ["error", { "allowPattern": "." }],
		"indent": ["warn", "tab"],
		"linebreak-style": ["error", "unix"],
		"no-console": ["warn", { "allow": ["warn", "error", "log"] }],
		"no-multi-spaces": 0,
		"no-trailing-spaces": 0,
		"no-unused-vars": 2,
		"quotes": [2, "single"],
		"require-await": ["error"],
		"semi": ["error", "always"],
		"space-before-function-paren": ["error", {
			"anonymous": "always",
			"named": "always",
			"asyncArrow": "always"
		}]
	}
}
