<div class="dialog">
	<div class="avatar right">
		<i class="material-icons {{iconColor}}">account_circle</i>
	</div>
	<div class="balloon human blue-grey lighten-4 right right-align">{{text}}</div>
</div>