<div id="side-bar" class="col l3 m4 s12 blue-grey lighten-5">

    <div id="conversation-wrapper" class="blue-grey lighten-5">
        <div id="conversation"></div>
    </div>

    <div id="conversation-input" class="blue-grey lighten-5 z-depth-3">
        <div class="input-field col s12">
            <textarea id="userinput" class="materialize-textarea"></textarea>
        </div>
    </div>
    
</div>