<ul id="dropdown" class="dropdown-content grey darken-4 ">
  <li><a id='select-bot-dialogflow' class="orange-text text-lighten-1">DialogFlow</a></li>
  <li><a id='select-bot-recastai' class="orange-text text-lighten-1">Recast.AI</a></li>
</ul>
<nav>
    <div class="nav-wrapper grey darken-4 z-depth-3">
        <ul class="left">
            {{!-- <li class="active"><a id="about" class="orange-text text-lighten-1">About</a></li> --}}
        </ul>
        <a class="brand-logo center">{{title}}</a>
        <ul class="right">
            {{!-- <li class="active"><a id="about-button" class="">About</a></li> --}}
            {{!-- <li><a id='bot-selector' class="dropdown-trigger" data-target="dropdown"><span id='current-bot-name'>Bot</span><i class="material-icons right">arrow_drop_down</i></a></li> --}}
            {{!-- <li class="active"><a id="toggle-dark-mode" class="orange-text text-lighten-1">Dark Mode</a></li> --}}
        </ul>
    </div>
</nav>